{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center h-100">
<div class="card">
    <div class="card-header">
        <h3 style="text-align: center">Manage Emplyee</h3>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group form-group mb-3">
                <div class="input-group-prepend">
                    <span style="width: 40px;height: 100%;background-color: #FFC312; " class="input-group-addon"><i class="fas fa-user"></i></span>
                </div>
                <input id="email" style="border-right-radius: 10px;" type="email" class="form-control" name="email" placeholder="email">

            </div>
            <div  class="input-group form-group">
                <div  class="input-group-prepend">
                <div style="width: 40px;height: 100%;background-color: #FFC312 " class="input-group-addon"><i   class="fas fa-key"></i></div>
                </div>
                <input id="password" type="password" name="password" class="form-control" placeholder="password">
            </div>
            <div class="row align-items-center remember">
                <input id="remember_me" type="checkbox">Remember Me
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn float-right login_btn">
            </div>


        </form>
        <div style="color: red ">
            {% for message in messages %}
                <small style="margin-left: 10%">{{ message }}</small>

            {% endfor %}
        </div>

    </div>


</div>

    </div>

    <script>
        $(function() {

            if (localStorage.chkbx && localStorage.chkbx != '') {
                $('#remember_me').attr('checked', 'checked');
                $('#email').val(localStorage.usrname);
                $('#password').val(localStorage.pass);
            } else {
                $('#remember_me').removeAttr('checked');
                $('#email').val('');
                $('#password').val('');
            }

            $('#remember_me').click(function() {
                console.log("work");
                if ($('#remember_me').is(':checked')) {
                    // save username and password
                    localStorage.usrname = $('#email').val();
                    localStorage.pass = $('#password').val();
                    localStorage.chkbx = $('#remember_me').val();
                } else {
                    localStorage.usrname = '';
                    localStorage.pass = '';
                    localStorage.chkbx = '';
                }
            });
        });

    </script>
{% endblock content %}