{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center h-100">
<div class="card">
    <div class="card-header">
        <h3 style="text-align: center">Manage Emplyee</h3>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group form-group mb-3">
                <div class="input-group-prepend">
                    <span style="width: 40px;height: 100%;background-color: #FFC312; " class="input-group-addon"><i class="fas fa-user"></i></span>
                </div>
                <input id="email" style="border-right-radius: 10px;" type="email" class="form-control" name="email" placeholder="email">

            </div>
            <div  class="input-group form-group">
                <div  class="input-group-prepend">
                <div style="width: 40px;height: 100%;background-color: #FFC312 " class="input-group-addon"><i   class="fas fa-key"></i></div>
                </div>
                <input id="password" type="password" name="password" class="form-control" placeholder="password">
            </div>

            <div style="margin-top: 30px" class="form-group">
                <input type="submit" value="Login" class="btn float-right login_btn">
            </div>


        </form>
        <div style="color: red ">
            {% for message in messages %}
                <small style="margin-left: 10%">{{ message }}</small>

            {% endfor %}
        </div>

    </div>


</div>

    </div>

   
{% endblock content %}